
@import "tailwindcss";
/* @import url('https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@100..900&display=swap'); */
:root {
  --main-color: #312C85;
  --sec-color: #0c6c38;
}
:root[dir="rtl"] .flip-rtl { @apply scale-x-[-1]; }


@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* ============== prebuilt ui ------------- */
@keyframes marqueeScroll {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
  }
}

@keyframes enterFromRight {
  0% {
    transform: translateX(120%); /* خارج الشاشة على اليمين */
    opacity: 0;
  }
  100% {
    transform: translateX(0); /* تدخل لمكانها الطبيعي */
    opacity: 1;
  }
}

.animate-enter {
  animation: enterFromRight 1.3s ease-out forwards;
}



.marquee-inner {
  animation: marqueeScroll 25s linear infinite;
}

.marquee-reverse {
  animation-direction: reverse;
}
/* ============================ */
.animate-fade-in {
  animation: fade-in 0.6s ease-in-out forwards;
}

* {
  font-family: "Noto Kufi Arabic", sans-serif;
} ;
body {
  color: #1c1c1c;
}
html,
body {
  height: 100%;
}

.main-color {
  @apply bg-[var(--color-main)];
}
.sec-color {
  @apply text-[var(--color-text)];
}
.rotate-y-180 {
  transform: rotateY(180deg);
  transition: transform 0.5s ease;
}